<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="mainbase::layout(~{:: section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from earning your own money!</p>
                    <input type="submit" name="" value="Login"/><br/>
                </div>
                <div class="col-md-9 register-right">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                         <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab"role="tab" aria-controls="home" aria-selected="true">Teachers</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        <form th:action="@{/teacherregister}">
                                  
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                           
                            <h3  class="register-heading">Register as Teacher</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Name *" value="" name="teachername"/>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value="" name="password" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="male" checked>
                                                <span> Male </span> 
                                            </label>
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="female">
                                                <span>Female </span> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" value=""  name="email"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="contact" class="form-control" placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="department">
                                            <option class="hidden"  selected >Please select your Department</option>
                                            <option>Computer Science</option>
                                            <option>Electrical Engineering</option>
                                            <option>Mechanical Engineering</option>
                                            <option>Civil Engineering</option>
                                        </select>
                                    </div>
                                   <div class="form-group">
                                    <button type="submit" class="btnRegister" > Register</button>
                                </div>
                                </div>
                            </div>
                     
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </section>
</body>
</html>